
.header-hero-section{
    background-color: #3E49E5;
}

.header-hero-section p{
    font-size: 17px;
    font-weight: 400;
}

/* navigation */

.logo img {
    height: 60px;
    width: 120px;
}

.nav-font{
    font-size: 19px;
    font-weight:600;
    margin-left: 16px;
}

/* care section */
.care-card {
    border: none;
}

.care-card-icon {
    font-size: 42px;
    padding-left: 145px;
}

/* shared-section */
.shared-section{
    background-color: #41454E;
}

.img-bg{
    background-color: #41454E;
}


/* Tried Too Many section */

.Tried-Too-Many{
    background-color: #3E49E5;
    padding: 60px 0;
}

.Tried-Too-Many p{
    font-size: 18px;
    margin-bottom: 40px;
}
.Tried-Too-Many p span i{
    color: white;
}

.admit-btn a{
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    padding: 12px 18px;
    border-radius: 10px;
}

.admit-btn p{
    margin-top: 20px;
}



/* footer */
footer {
    background-color: #05092B;
    color: white;
    /* margin-top: 62px; */
    padding: 20px 0 60px 0;
}

footer i{
    font-size: 12px;
}

.social-links a {
    color: white;
    margin-right: 6px;
    padding: 3px 6px;
    background-color: #002552;
    border-radius: 50px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    font-size: 14px;
    color: white;

}

footer .pro-btn a{
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius:10px 0px 50px 10px;
    padding: 10px;
}

footer .pro-btn a:hover{
    font-size: 17px;
    border: dotted;
}

footer .pro-btn a i{
    font-size: 22px;
    color: #55ACEE;
}

footer .payment-option{
    display: flex;
    margin-top: 20px;
}

footer .payment-option h6{
    margin-top: 3px;
}

footer .images{
    /* padding-bottom: 10px; */
    margin-left: 5px;
}

footer .images img{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    margin-right: 5px;
}

.scrool-btn{
    float: right;
    margin-right: 32px;
}

.scrool-btn a{
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 50px;
}

.scrool-btn a i{
    font-size: 20px;
}