


.header-hero-section {
    background-color: #3E49E5;
}

.header-hero-section p {
    font-size: 17px;
    font-weight: 400;
}


/* navigation */
.logo img {
    height: 60px;
    width: 120px;
    /* color: black; */
}

.nav-font{
    font-size: 18px;
    font-weight: 600;
    margin-left: 16px;
}

.log-in-modal {
    max-width: 455px;
    background: #f8f9fd;
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 0%,
      rgb(244, 247, 251) 100%
    );
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(
      45deg,
      rgb(16, 137, 211) 0%,
      rgb(18, 177, 209) 100%
    );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 9px;
  }
  

/* nav ul li a{
    padding-bottom: 10px;
} */

/* nav ul li:hover{
    text-decoration: underline;
    color: red;
} */

/* a to Z bundle section */
.bg-image:hover {
    background-color: #236CE4;
    transition: .5s;
    color: white;
}

/* care section */
.care-section {
    padding: 44px 0;
    background-color: #4686ed;
    color: white;
    margin-top: 64px;
}

.care-card {
    border: none;
    background-color: #4686ed;
    color: white;
}

.care-card-icon {
    font-size: 42px;
    padding-left: 140px;
    padding-top: 12px;
    color: rgb(46, 46, 46);
}

/* course-section */
.course-section {
    background-color: #544970;
    color: white;
}

.card-body h6 {
    color: goldenrod;
}

.img img {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin-right: 10px;
}

.card-footer a {
    color: white;
    background-color: red;
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 30px 0px 30px 30px;
    margin-top: 18px;
}

.dropdown {
    /* float: right; */
    margin-bottom: 40px;
}

/* shared-section */
.shared-section {
    background-color: #41454E;
}

.img-bg {
    background-color: #41454E;
}


/* Tried Too Many section */

.Tried-Too-Many {
    background-color: #3E49E5;
    padding: 60px 0;
}

.Tried-Too-Many p {
    font-size: 18px;
    margin-bottom: 40px;
}

.Tried-Too-Many p span i {
    color: white;
}

.admit-btn a {
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 10px;
}

.admit-btn p {
    margin-top: 20px;
}



/* footer */
footer {
    background-color: #05092B;
    color: white;
    /* margin-top: 62px; */
    padding: 20px 0 60px 0;
}

footer i {
    font-size: 12px;
}

.social-links a {
    color: white;
    margin-right: 6px;
    padding: 3px 6px;
    background-color: #002552;
    border-radius: 50px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    font-size: 14px;
    color: white;

}

footer .pro-btn a {
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 10px 0px 50px 10px;
    padding: 10px;
}

footer .pro-btn a:hover {
    font-size: 17px;
    border: dotted;
}

footer .pro-btn a i {
    font-size: 22px;
    color: #55ACEE;
}

footer .payment-option {
    display: flex;
    margin-top: 20px;
}

footer .payment-option h6 {
    margin-top: 3px;
}

footer .images {
    /* padding-bottom: 10px; */
    margin-left: 5px;
}

footer .images img {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    margin-right: 5px;
}

.scrool-btn {
    float: right;
    margin-right: 32px;
}

.scrool-btn a {
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 50px;
}

.scrool-btn a i {
    font-size: 20px;
}


/* sucess-stories option */
.Sucess {
    padding: 130px 0px;
}

.img-shadow img {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* docs-option */

.docs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width: 768px) { 

    .docs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    
}

@media (max-width: 576px) { 

    .docs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
    }

    /* .drop-item{
        display: block;
        align-items: center;
    } */
    
}

.docs-detail{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 20px;
    border-radius: 5px;
    height: 450px;
}

.docs-detail h4 span, .docs-detail-3 h4 span, .docs-detail-4 h4 span{
    color: #528EFD;
}

.docs-details{
    row-gap: 50px;
}

.docs-detail-2{
    height: 300px;
}

.docs-detail-3{
    height: 220px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.docs-detail-4{
    margin-top: 40px;
    height: 330px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.docs-detail h6, .docs-detail-3 h6, .docs-detail-4 h6{
    font-size: 20px;
    background-color: #528EFD;
    padding: 8px 15px;
    border-radius: 50px;
    text-align: center;
}

.docs-detail hr, .docs-detail-3 hr, .docs-detail-4 hr{
    height: 20px;
    color: #4686ed;
}

.docs-detail p{
    font-size: 16px;
}